# Intellij
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.factorypath
.settings
.project
target

# Unwanted artifacts
*.bak
*.jar
*.log
*.log.*
**/.polyglot.*

# Release elements
*.releaseBackup
release.properties

# Gradle
.gradle

# VSCode
.vscode

# Ant / Eclipse Plugin
**/.DS_Store
build/*
classes/*
out
bin/
data/*
*workspace.xml
