<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc_mbgdoc.xml">
      </toc>
      <toc
            file="toc_javadoc.xml">
      </toc>
      <toc
            file="toc_eclipseui.xml">
      </toc>
   </extension>

</plugin>
