<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="dataSource" class="com.ibatis.common.jdbc.SimpleDataSource">
    <constructor-arg>
      <map>
        <entry key="JDBC.Driver"><value>org.hsqldb.jdbcDriver</value></entry>
        <entry key="JDBC.ConnectionURL"><value>jdbc:hsqldb:mem:aname</value></entry>
        <entry key="JDBC.Username"><value>sa</value></entry>
        <entry key="JDBC.Password"><value></value></entry>
        <entry key="JDBC.DefaultAutoCommit"><value>true</value></entry>
      </map> 
    </constructor-arg>
  </bean>

  <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
    <property name="configLocation" value="classpath:/ibatortest/execute/hierarchical/java5/SqlMapConfig.xml"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="FieldsonlyDAO" class="ibatortest.generated.hierarchical.java5.dao.FieldsonlyDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="PkonlyDAO" class="ibatortest.generated.hierarchical.java5.dao.PkonlyDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="PkfieldsDAO" class="ibatortest.generated.hierarchical.java5.dao.PkfieldsDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="PkblobsDAO" class="ibatortest.generated.hierarchical.java5.dao.PkblobsDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="PkfieldsblobsDAO" class="ibatortest.generated.hierarchical.java5.dao.PkfieldsblobsDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="FieldsblobsDAO" class="ibatortest.generated.hierarchical.java5.dao.FieldsblobsDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
  <bean id="AwfulTableDAO" class="ibatortest.generated.hierarchical.java5.dao.AwfulTableDAOImpl">
    <property name="sqlMapClient" ref="sqlMapClient" />
  </bean>
  
</beans>
