<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.mybatis.generator.eclipse.ui.content.AdapterFactory">
         <adapter
               type="org.mybatis.generator.eclipse.ui.content.ConfigurationFileAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.mybatis.generator.eclipse.ui.ConfigFileContribution"
            objectClass="org.mybatis.generator.eclipse.ui.content.ConfigurationFileAdapter">
         <action
               class="org.mybatis.generator.eclipse.ui.actions.RunGeneratorAction"
               enablesFor="1"
               icon="icons/mybatis.png"
               id="org.mybatis.generator.eclipse.ui.RunGeneratorAction"
               label="Generate MyBatis/iBATIS Artifacts"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.mybatis.generator.eclipse.ui.ant.GeneratorAntTask"
            library="lib/antsupport.jar"
            name="mybatis.generate">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.mybatis.generator.eclipse.ui.category"
            name="MyBatis">
      </category>
      <wizard
            category="org.mybatis.generator.eclipse.ui.category"
            class="org.mybatis.generator.eclipse.ui.wizards.NewConfigFileWizard"
            icon="icons/mybatis.png"
            id="org.mybatis.generator.eclipse.ui.NewConfigFileWizard"
            name="MyBatis Generator Configuration File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="default">
         <public
               publicId="-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
               uri="dtds/mybatis-generator-config_1_0.dtd">
         </public>
         <public
               publicId="-//Apache Software Foundation//DTD Apache iBATIS Ibator Configuration 1.0//EN"
               uri="dtds/ibator-config_1_0.dtd">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="isGeneratorConfigurationFile"
            namespace="org.mybatis.generator.eclipse.ui"
            type="org.eclipse.core.resources.IFile"
            class="org.mybatis.generator.eclipse.ui.content.GeneratorPropertyTester"
            id="org.mybatis.generator.eclipse.ui.propertyTester1">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
         name="MyBatis Generator"
         delegate="org.mybatis.generator.eclipse.ui.launcher.GeneratorLaunchConfigurationDelegate"
         modes="run, debug"
         id="org.mybatis.generator.eclipse.launching.LaunchConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
         icon="icons/mybatis.png"
         configTypeID="org.mybatis.generator.eclipse.launching.LaunchConfigurationType"
         id="org.mybatis.generator.eclipse.launching.LaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
         type="org.mybatis.generator.eclipse.launching.LaunchConfigurationType"
         class="org.mybatis.generator.eclipse.ui.launcher.GeneratorTabGroup"
         id="org.mybatis.generator.eclipse.launching.LaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.mybatis.generator.eclipse.ui.launcher.GeneratorLaunchShortcut"
            icon="icons/mybatis.png"
            id="org.mybatis.generator.eclipse.ui.launching.LaunchShortcut"
            label="Run MyBatis Generator"
            modes="run, debug">
         <description
               description="Generates MyBatis/iBATIS Artifacts"
               mode="run">
         </description>
         <description
               description="Generates MyBatis/iBATIS Artifacts"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
	                 <adapt
                        type="org.eclipse.core.resources.IFile">
                        <test
                            property="org.mybatis.generator.eclipse.ui.isGeneratorConfigurationFile">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.mybatis.generator.eclipse.launching.LaunchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
</plugin>
