p, table, td, th {  font-family: arial, helvetica, geneva, sans-serif; font-size: 10pt}
pre {  font-family: "Courier New", Courier, mono, serif; font-size: 10pt}
h2 { font-family: arial, helvetica, geneva, sans-serif; font-size: 18pt; font-weight: bold; margin-top: 30px}
code {  font-family: "Courier New", Courier, mono, serif; font-size: 10pt}
sup {  font-family: arial,helvetica,geneva, sans-serif; font-size: 10px}
h3 {  font-family: arial, helvetica, geneva, sans-serif; font-size: 14pt; font-weight: bold}
li {  font-family: arial, helvetica, geneva, sans-serif; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva, sans-serif; font-size: 28px; font-weight: bold}
body {  font-family: arial, helvetica, geneva, sans-serif; font-size: 10pt; margin-top: 5mm; margin-left: 3mm}
.indextop { font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.indexsub { font-size: xx-small;; font-family: Arial, Helvetica, sans-serif; color: #8080FF}

pre {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: left;
}

.code {
 	border: 1px dashed #3c78b5;
    font-size: 11px;
	font-family: Courier;
    margin: 10px;
	line-height: 13px;
    text-align: left;
    color: #000000;
    background-color: #f0f0f0;
    padding: 10px;
}

.code-xml {
  color: #000000;
}

.schema-type
{
  color: #009100;
  background-color: inherit;
}

.schema-type-link a:link
{
  color: #009100;
  text-decoration: none
}

.schema-type-link a:visited
{
  color: #009100;
  text-decoration: none
}

.schema-control {
  color: #009100;
  font-style: italic;
  background-color: inherit;
}

.code-text {
  color: #009100;
  background-color: inherit;
}

.context-code {
  color: #767676;
  background-color: inherit;
}

.xml-text
{
  color: #009100;
}

.java-code 
{
  color: #000000;
}

.java-comment 
{
  color: #009100;
}

.java-javadoc-keyword
{
  font-weight: bold;
}

.java-keyword
{
  color: #7f0055;
  font-weight: bold;
}

.java-literal
{
  color: #009100;
}

.java-context
{
  color: #767676;
}	

.java-context-keyword
{
  font-weight: bold;
}	

.screen-shot 
{
    margin: 10px;
}

.block-indent 
{
    margin: 10px;
}
