<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="2021-06">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2021-06/"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.800.v20210611-1600"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.22.0.v202103232331"/>
			<unit id="org.eclipse.platform.feature.group" version="4.20.0.v20210611-1600"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.18.0.20210603-1206"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
