name: Java CI

defaults:
  run:
    working-directory: core

on: [workflow_dispatch, push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        cache: [maven]
        distribution: [temurin]
        java: [21, 25, 26-ea]
        os: [macos-latest, ubuntu-latest, windows-latest]
      fail-fast: false
      max-parallel: 6
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Java ${{ matrix.java }} ${{ matrix.distribution }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          cache: ${{ matrix.cache }}
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
      - name: Test with Maven
        run: ./mvnw test --batch-mode --no-transfer-progress --show-version -D"license.skip=true"
