name: Site

defaults:
  run:
    working-directory: core/mybatis-generator-core

on:
  push:
    branches:
      - site

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.repository_owner == 'mybatis' && ! contains(toJSON(github.event.head_commit.message), '[maven-release-plugin]')
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          cache: maven
          distribution: temurin
          java-version: 25
      - name: Build site
        # Note: the mvnw executable is in the parent directory - not this working directory. We only do site on the
        # core project, not all the test projects.
        run: ../mvnw site site:stage --batch-mode --no-transfer-progress --settings ../.mvn/settings.xml --show-version -Dlicense.skip=true -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
      - name: Deploy Site to gh-pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4
        with:
          branch: gh-pages
          folder: core/mybatis-generator-core/target/generator.git
